{% extends "layout.html"%}
{% load static %}
{% block title %} 
    {% block home_title %}{% endblock %}
{% endblock %}

{% block content %}
<div class="flex flex-col w-screen h-screen">
    <!-- Navbar -->
    <nav class="bg-green-600 px-4 py-2 text-white flex justify-between items-center h-auto">
        <div class="text-xl font-bold">
            <a href="/home" class="text-white">HASAKI.VN</a>
        </div>
        <div class="flex space-x-8 items-center">
            <a href="/booking" 
                class="home-navbar-item
                    {% if request.path == '/booking' %} home-navbar-item-highlight {% endif %}">
                <span>Đặt hẹn</span>
                <img src="{% static 'img/booking.png' %}" alt="messenger icon" class="w-5 h-5">   
            </a>
            <a href="/support" 
                class="home-navbar-item
                    {% if request.path == '/support' %} home-navbar-item-highlight {% endif %}">
                <span>Yêu cầu hỗ trợ</span>
                <img src="{% static 'img/customer-care.png' %}" alt="messenger icon" class="w-5 h-5"> 
            </a>
            <a href="/chat" 
                class="home-navbar-item
                    {% if request.path == '/chat' %} home-navbar-item-highlight {% endif %}">
                <span>Messenger</span>
                <img src="{% static 'img/messenger.png' %}" alt="messenger icon" class="w-5 h-5">
            </a>
            <a href="/customer/feedback-list" 
                class="home-navbar-item
                    {% if request.path == '/customer/feedback-list' %} home-navbar-item-highlight {% endif %}">
                <span>Phản hồi</span>
                <img src="{% static 'img/business.png' %}" alt="messenger icon" class="w-5 h-5"> 
            </a>
            <a href="/logout" 
                class="home-navbar-item
                    {% if request.path == '/logout' %} home-navbar-item-highlight {% endif %}">
                <span>Đăng xuất</span>
                <img src="{% static 'img/logout.png' %}" alt="messenger icon" class="w-5 h-5">
            </a>
        </div>
        <div class="text-gray-500 flex flex-row w-auto h-auto bg-transparent space-x-2">
            <img src="{% static 'img/user.png' %}" class="w-10 h-10 ml-3 rounded-full"/>
            <div class="flex flex-col text-black">
                <p class="font-semibold text-black text-center grid-rows-1 grid-cols-2">{% block customer_name %}{% endblock %}</p>
                <p class="text-sm italic">Khách hàng</p>
            </div>
        </div>
    </nav>

    {% block home_content %}{% endblock %}
</div>
{% endblock %}